/* this is a comment within a css file, ignored by the computer ... */

/* to ensure the 'main-div' displays the full length of any size screen
	use the commands below -
	set the 'html' and 'body' height attribute value to 100% 
	set the 'min-height' of the 'main-div' to 100% 
	*/
html{
	height: 100%;
}

body{
	height: 100%;
	font-family: sans-serif, verdana, arial, helvetica ;
	font-size: medium;
	line-height: 1em;
   
 /* delete 's' of borders to display a green border */
	borders: 0.1em solid green; 
}
  
/* a unique element, usage id='main-div' see general-one.html */ 
#main-div{
	min-height: 100%;
	/* the combined width of three divs, margins and padding ...
		use this value to display all three divs beside each other */
	width: 59em;
	/* to center the div use the commands below ...
		a margin of half the combined width, position set to 'absolute' 
		and left: 50% */
	margin-left: -29.5em;
	position: absolute;
	left: 50%;
	background-color: #ddd;
	borders: 0.1em solid red; 
}

/* colouring hyper text links */
a:link {color:#000;}      						/* unvisited link  black */
a:visited {color:#000;}  						/* visited link  black */
a:hover {color:#000; background-color:#FFF; }  	/* mouse over link, black */
				

	
	