/* 'borders' can be displayed if the 's' is removed to make a valid CSS selector
	styles used on main product page 'products/index.html.erb'


 */

#all-content {
	widths: 80em;
	margin-left: auto; 
	margin-right: auto;
	font-size: 0.8em;
	borders: 0.1em solid black;
} 

#product-box {
	width: 23em;
	height: 11em;
	padding-top: 1em;
	padding-left: 1em;
	float: left; 
	borders: 0.1em solid brown;
}

#img-box {
	width: 7.5em;
	height: 9em;
	float: left;
	borders: 0.2em solid purple;
}

#details-box {
	width: 12em;
	height: 8em;
	padding-left:  1em;
	padding-top: 1em;
	float: left;
	borders: 0.2em solid crimson;
}

#title-box {
	padding-top: 0.3em;
	font-size: 1.15em;
	font-weight:bold;
	borders: 0.1em solid DarkGray;
}

#published-box {
	padding-top: 0.4em;
	font-size: 1.1em;
	borders: 0.1em solid DarkGray;
}

#admin-box {
	padding-top: 0.3em;
	font-size: 1em;
	borders: 0.1em solid orange;
}
