<%= form_for(@product) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description, "Description:" %><br>
    <%= f.text_area :description, :cols => 32 %>
  </div>
  <div class="field">
    <%= f.label :img_url %><br>
    <%= f.text_field :img_url, :size => 42 %> <br>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, :size => 25 %>
  </div>

  <div class="field">
    <%= f.label :date_published %><br>
    <%#= f.date_select :date_published %>
    <div class="datepicker"> 
      <% @product.date_published_format %> 
      <%= f.text_field :date_published %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
