<!– app\views\products\index.html.erb -->
<div id="all-content"> 
  <% @products.each do |product| %>
    <div id="product-box">
      <fieldset> 

        <div id="img-box" , title="select image for more details ..." >
          <% if not product.img_url.blank? %>
            <%= link_to (image_tag product.img_url,:size => "100x125"),product %>
          <% else %>
            <%= link_to (image_tag("no-image.jpg",:size => "100x125")),product %>
          <% end %>
        </div>

        <div id="details-box">
          <div id="title-box">
            <%= product.title %>
          </div>
          <div id="published-box">
            <% if not product.date_published.blank? %>
             Published: <%= product.date_published.strftime("%Y") %>
            <% end %> 
          </div>
          <div id="admin-box">
           <%#= link_to 'Show', product %>
           <%= link_to 'Edit', edit_product_path(product) %>
           <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>    
      </fieldset> 
    </div>
  <% end %>
</div>