<p id="notice"><%= notice %></p>

<div id="show-img">    
  
<div class="main-title"> <%= @product.title %> </div> 

<!-- display an image using a product's img_url or if blank 
      display an image reading "no image to display" -->
<%= image_tag  @product.img_url, size: "200x250" %> 
<br/><br/>  

<!-- if a product does not have a price then do not display -->
<div class="sub-title"> 
Price: <%= @product.price %>    
</div>
  
<div class="sub-title">
Date published:<%= @product.date_published %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |


<%= @product.description %>  
</div>

		
		
		